
<mat-form-field>

  <input matInput placeholder="Search cars" [formControl]="searchField"  >

</mat-form-field>
<mat-spinner class="spinner"
             *ngIf="dataSource.loading$ | async"
             color="primary">
</mat-spinner>
<mat-table  class="lessons-table mat-elevation-z8"
            [dataSource]="dataSource"
            #matSort
            matSort
            (matSortChange)="sortTableChange($event)"
            matSortDisableClear>

  <ng-container *ngFor="let column of displayedColumns" matColumnDef="{{column}}">

    <mat-header-cell *matHeaderCellDef mat-sort-header>{{column}}</mat-header-cell>

    <mat-cell *matCellDef="let car">{{parseFieldCarForCellTable[column](car[column])}}</mat-cell>

  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

</mat-table>
<mat-paginator [length]="(dataSource.pagination$ | async)?.total"
               [hidePageSize]="true"
               [pageIndex]="((dataSource.pagination$ | async)?.currentPage-1)"
               [pageSize]="((dataSource.pagination$ | async)?.perPage-1)"
               (page)="changePage($event)">

</mat-paginator>
