.table {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table-td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table-td--description {
    min-width: 50px;
    max-width: 20vw;
    border: 1px solid #ddd;
    padding: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}



.button--fullSize {
    width: 100%;

    height: 100%;
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
    position: relative;
}
.button--sort {
    padding-right: 18px;
    position: relative;
}
.button--sort:before,
.button--sort:after {
    border: 4px solid transparent;
    content: "";
    display: block;
    height: 0;
    right: 5px;
    top: 50%;
    position: absolute;
    width: 0;
}
.button--sort:before {
    border-bottom-color: #666;
    margin-top: -9px;
}
.button--sort:after {
    border-top-color: #666;
    margin-top: 1px;
}
.table-th {
    color: white;
}

.table-tr {
    background-color: #f2f2f2;
    cursor: pointer;
}

.table-tr:hover {
    background-color: #ddd !important;
}

.paginator {
    display: flex;

}

.paginator-page {
    flex-basis: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px 0 0;
    border-radius: 3px;
    background: #fff;
    color: #aaa;
    border: 1px solid #0079c1;
    cursor: pointer;
}

.paginator-page:hover {
    color: #333;
    background-color: #f2f2f2;
}

.paginator-page.active {
    color: #fff;
    background: #6cf;
}

.paginator-arrow {
    cursor: pointer;
    position: relative;
    flex-basis: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px 0 0;
    border-radius: 3px;
    border: 1px solid #0079c1;
    z-index: 1;
}

.paginator-arrow:hover {
    color: #333;
    background-color: #f2f2f2;
}

.paginator-arrow:before, .paginator-arrow:after {
    content: "";
    position: absolute;
    width: 35%;
    height: 10%;
    top: 41%;
    left: 55%;
    background: #aaa;
    z-index: 2;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: all .2s linear;
}

.paginator-arrow:after {
    z-index: 3;
    top: 59%;
    left: 55%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.paginator-arrow:after, .paginator-arrow:before {
    color: #fff;
}

.paginator-arrow--rotate {
    transform: rotate(180deg);
}

