.button--fullSize {
    width: 100%;

    height: 100%;
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    box-shadow: rgba(0, 0, 0, 0.5);
    position: relative;
}
.button--sort {
    padding-right: 18px;
    position: relative;
}
.button--sort:before,
.button--sort:after {
    border: 4px solid transparent;
    content: "";
    display: block;
    height: 0;
    right: 5px;
    top: 50%;
    position: absolute;
    width: 0;
}
.button--sort:before {
    border-bottom-color: #666;
    margin-top: -9px;
}
.button--sort:after {
    border-top-color: #666;
    margin-top: 1px;
}
.table-th {
    text-align: start;
    background: rgb(221, 221, 221);
}